input,select {
    // border: none; /* Remove border */
    outline: darkseagreen; /* Remove outline */
    background-color: transparent; /* Make background transparent */
}
i{
    font-size: 20px;
}

.ngx-slider .ngx-slider-tick-legend {
    position: absolute;
    top: 24px;
    transform: translate(-50%);
    max-width: 88px !important;
    font-size: 12px;
    white-space: normal;
}
// Track height
$tkh: 20px;
// Track width
$tkw: $tkh * 2.0;
// Thumb height
$thh: $tkh - 4px;
// Thumb width
$thw: $thh;

// Mixin for border-radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

// Mixin for invisible
@mixin invisible {
  -webkit-appearance: none;
  appearance: none;
}

// Animation is directly written in the element where needed.

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Overpass";
  font-size: .8em;
  font-weight: bold;
}

p {
  margin: 0;
  padding: 0;
}

.wrapper {
//   width: 200px;
  height: 50%;
  display: flex;
  justify-content: left;
//   padding: 20px 0;
}

// #custom-toggle {
    [name="points"]{
  @include invisible;
  height: $tkh;
  width: 50px;
  background-color: #b2b8bb;
  @include border-radius(25px);
  padding: 0 2px;
  margin: 0;
  cursor: pointer;
  
  &.tgl-def::-webkit-slider-thumb {
    background-color: orange;
    transition: background-color 0.25s ease-in-out, position 0.25s ease-in-out;
  }

  &.tgl-on::-webkit-slider-thumb {
    background-color: red;
    transition: background-color 0.25s ease-in-out, position 0.25s ease-in-out;
  }

  &.tgl-off::-webkit-slider-thumb {
    background-color: green;
    transition: background-color 0.25s ease-in-out, position 0.25s ease-in-out;
  }

  .tgl-on{
    background-color: green;
  }

  &::-webkit-slider-thumb {
    @include invisible;
    width: $thw;
    height: $thh;
    @include border-radius(25px);
  }

  &:focus {
    outline: none;
  }
}

.rangeActive {
  background-color: green;
}


.icon-container {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  // top: -8px;
  // right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.avatar {
  width: 40px; /* Size of the avatar */
  height: 40px;
  background-color: #007bff; /* Background color */
  color: white; /* Text color */
  font-size: 16px; /* Font size */
  font-weight: bold;
  border-radius: 50%; /* Makes it a circle */
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase; /* Capitalizes the letter */
}
.dropdown {
  position: relative;
  display: inline-block;
}

// .dropdown-toggle {
//   background-color: #007bff;
//   // color: white;
//   padding: 10px;
//   border: none;
//   cursor: pointer;
//   font-size: 16px;
//   border-radius: 4px;
//   width: 200px;
//   text-align: left;
// }

.dropdown-menu {
  display: none;
  position: absolute;
  // background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
  margin-top: 5px;
  padding: 10px;
  width: 100%;
}

.dropdown-item {
  display: block;
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown-item input {
  margin-right: 8px;
  cursor: pointer;
}

.show {
  display: block;
}

.circle {
  width: 15px;
  height: 15px;
  // background-color: #a9db34; /* Change this to any color you like */
  border-radius: 50%;
  display: inline-block;
}


.chat-online {
  color: #34ce57
}

.chat-offline {
  color: #e4606d
}

.chat-messages {
  display: flex;
  flex-direction: column;
  max-height: 800px;
  overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
  display: flex;
  flex-shrink: 0
}

.chat-message-left {
  margin-right: auto
}

.chat-message-right {
  flex-direction: row-reverse;
  margin-left: auto
}
.py-3 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}
.px-4 {
  padding-right: 1.5rem!important;
  padding-left: 1.5rem!important;
}
.flex-grow-0 {
  flex-grow: 0!important;
}
.border-top {
  border-top: 1px solid #dee2e6!important;
}

.custom-file-upload {
  position: relative;
  display: inline-block;
}

.custom-file-upload label {
  cursor: pointer;
  color: #007bff;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  width: 700px;
  margin-top:5px;
}

.dropdown-toggle {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 175%;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width:50%
}

.dropdown-item input[type="radio"] {
  margin-left: 10px;
}

.dropdown-item.true-selected {
  background-color: #28a745;
  color: white;
}

.dropdown-item.false-selected {
  background-color: #dc3545;
  color: white;
}

.radio-group {
  display: flex;
  width:50%
}

.radio-group label {
  margin-right: 10px;
}

// .hide {
//     display: none; /* Hide the .hide class by default */
// }



// .myDIV:hover + .hide {
//     display: inline-block; /* Display the .hide class when hovering over .myDIV */
//     // color: red; /* Just an example style change for demonstration */
// }
// .hover-button{
//     display: none;
// }

// .litem:hover + .hover-button {
//     display: block;
//     color: red;
//   }

// 


