<div class="row col-md-12">
<div class="row col-md-6 justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
         Document Setup
        </div>
        <div class="card-body mt-3">
          <form
          class="needs-validation"
          [formGroup]="linkTaxPayerForm"
          (ngSubmit)="linkTaxPayerFormSubmit()"
        >
          <div class="row g-3">
            <input type="hidden" formControlName="id" />
           
            <div class="col-6">
              <label class="form-label req">Form type </label>
              <div class="has-validation">
                <select class="form-control form-select" formControlName="appliesto" [ngClass]="vs.getControlClass(linkTaxPayerForm.controls['appliesto'])">
                  <option value="">Select one...</option>
                  <option value="1">Personal taxpayer</option>
                  <option value="2">Business taxpayer</option>
                  <option value="3">Land info</option>
                  <option value="4">Vehicle info</option>
                  <option value="5">Infra info</option>
                  <option value="6">Land rent info</option>
                  <option value="7">House rent info</option>
                   </select>
                <div [ngClass]="vs.getMessageClass(linkTaxPayerForm.controls['appliesto'])">
                  {{ vs.getMessage(linkTaxPayerForm.controls["appliesto"]) }}
                </div>
              </div>
            </div>

            <div class="col-6" >
              <label class="form-label req">Code</label>
              <div class="has-validation">
                <input type="text" class="form-control " formControlName="code" [ngClass]="vs.getControlClass(linkTaxPayerForm.controls['code'])">
                  
                <div [ngClass]="vs.getMessageClass(linkTaxPayerForm.controls['code'])">
                  {{ vs.getMessage(linkTaxPayerForm.controls["code"]) }}
                </div>
              </div>
            </div>
    
            

            <div class="col-6" >
              <label class="form-label req">Document Name En</label>
              <div class="has-validation">
                <input type="text" class="form-control " formControlName="docnameen" [ngClass]="vs.getControlClass(linkTaxPayerForm.controls['docnameen'])">
                  
                <div [ngClass]="vs.getMessageClass(linkTaxPayerForm.controls['docnameen'])">
                  {{ vs.getMessage(linkTaxPayerForm.controls["docnameen"]) }}
                </div>
              </div>
            </div>

            <div class="col-6" >
              <label class="form-label req">Document Name Np</label>
              <div class="has-validation">
                <input type="text" class="form-control " formControlName="docnamenp" [ngClass]="vs.getControlClass(linkTaxPayerForm.controls['docnamenp'])">
                  
                <div [ngClass]="vs.getMessageClass(linkTaxPayerForm.controls['docnamenp'])">
                  {{ vs.getMessage(linkTaxPayerForm.controls["docnamenp"]) }}
                </div>
              </div>
            </div>

         
          </div>
    
          <br/>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-success btn-sm" type="submit">Save </button>
              &nbsp; &nbsp;
              <button
                class="btn btn-danger btn-sm"
                type="button"
                (click)="resetForm()"
              >
              रद्द गर्ने 
              </button>
            </div>
          </div>
        </form>

      </div>
      </div>
  
    
    </div>
  </div>



  <div class="row col-md-6 justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
         Document Settings List
        </div>
        <div class="card-body mt-3">

          <form class="form-srch" [formGroup]="srchForm">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Search.."
                id="srch_term"
                name="srch_term"
                formControlName="srch_term"
                (keyup.enter)="search()"
              />
              <button
                class="btn btn-outline-secondary"
                type="button"
                (click)="search()"
              >
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>

          <table class="display responsive-table w-100 table table-striped  datatable">
            <!--table-borderless-->
            <thead>
              <tr>
                <th scope="col">Code</th>
                <th scope="col">Document Name En</th>
                <th scope="col">Document Name Np</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of lists; let i = index">
                <td>{{ item.code }}</td>
                <td>{{ item.docnameen }}</td>
                <td>{{ item.docnamenp }}</td>
              
                <td style="width: 120px;">
                  <button class="btn btn-success btn-sm" (click)="getUpdateItem(item.id)" href="javascript:void(0)"
                    ><i class="bi bi-pencil-square"></i
                  ></button>
                  &nbsp;&nbsp;&nbsp;
                  <button class="btn btn-danger btn-sm" (click)="deleteItem(item.id)"
                    ><i
                      class="bi bi-trash3"
                      style="cursor: pointer"
                    ></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="row">
            <div class="col-6 text-start">
              <pagination
                [rotate]="true"
                [maxSize]="5"
                [totalItems]="pagination.total"
                [(ngModel)]="pagination.currentPage"
                [boundaryLinks]="true"
                [itemsPerPage]="pagination.perPage"
                (pageChanged)="paginatedData($event)"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="&laquo;"
                lastText="&raquo;"
              ></pagination>
            </div>
  
            <div class="col-6 text-end">
              <form [formGroup]="srchForm">
                <div class="row" style="float: right">
                  <div class="col-md-12 smallbr">
                    Entries
                    <select
                      name="entries"
                      id="entries"
                      formControlName="entries"
                      (change)="search()"
                    >
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </div>
              </form>
            </div>
          </div>
</div>
</div>
</div>
</div>

</div>

 
  