<section class="section register d-flex flex-column align-items-center justify-content-center py-2">
    <div class="container">
      <div class="d-flex justify-content-center py-4">
        <div class="row text-center">
          <div class="col-12">
            <img
        class="d-block mx-auto mt-2"
        src="{{appConfig.baseUrl}}images/Emblem_of_Nepal.svg"
        alt=""
        height="70"
      />
          </div>
          <div class="col-12"><h6 class="mb-1" style="font-size: 14px; color: #012970">
            <b>महालेखा नियन्त्रक कार्यालय</b>
          </h6></div>
          <div class="col-12"><h6 class="mb-1" style="font-size: 16px; color: #012970">
            <b>स्थानीय तह संचितकोष व्यवस्थापन प्रणाली (<span style="color: red;"><b>S</b></span>u<span style="color: red;"><b>TRA</b></span>)</b>
          </h6></div>
          <div class="col-12"><h6 class="mb-2" style="font-size: 18px; color: #012970">
            <b>Revenue Portal</b>
          </h6></div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
          Infograhphics here
        </div>
        <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">
          <div class="card mb-3">
            <div class="card-body">
              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">Forgot Your Password?</h5>
                <p class="text-center small">Enter following details to recover your password to the Revenue Portal</p>
              </div>
              <form class="row g-3 needs-validation" [formGroup]="forgotPasswordForm">

                <div class="col-12">
                  <div class="has-validation form-floating">
                    <input type="text" name="fullname" class=" form-control" id="fullname" placeholder="" formControlName="fullname">
                    <label for="fullname">Email</label>
                    <div class="invalid-feedback">Please enter your Fullname.</div>
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary w-100" type="submit">Signup</button>
                </div>
                <div class="col-12">
                  <p class="small mb-0">Already have account? <a  routerLink="/login">Go to Login</a></p>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
